@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import './sass/variables';
@import './sass/master.scss';
@import './sass/main.scss';
@import './sass/dashboard.scss';

* {
    font-family: 'Noto Sans', sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;     
}

body{
    margin: 0;
    background-color: $numly-light;
    color: $numly-dark;
}