@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import './sass/variables';
@import './sass/master.scss';
@import './sass/main.scss';
@import './sass/home.scss';

* {
    font-family: 'Noto Sans', sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;     
}

body{
    margin: 0;
    background-color: $numly-light;
    color: $numly-dark;
}

.m-0{
    margin:0;
}

.card{
    width: 100%;
    border-radius: 10px;
    height: 148px;
    max-width: 322px;
    box-shadow: 0px 0px 20px #00000029;

    .card-title{
        display: block;
        margin-top: 28px;
        font-weight: $font-bold;
        font-size: 22px;
    }

    .card-data{
        color: $numly-primary;  
        font-weight: $font-bold;
        font-size: 42px;
    }
}

.button{
    display: inline-block;
    background-color: $numly-primary;
    padding: 10px 18px;
    text-decoration: none;
    color: $numly-light;
    font-size: 14px;
    font-weight: $font-bold;
    border-radius: 20px;
}