@import './variables';


.generate-container{
    .setup-section{
        display: flex;

        .card{
            max-width: 322px;

            .card-title{
                margin-bottom: 29px;
            }
        }

        .setup{
            label{
                padding-left: 5px;
            }
        }

        .picking.card{
            max-width: 100%;
            .card-title{
                margin-bottom: 0px;
            }
        }
    }
    .setup-section > * {
        margin-right: 25px;
    }
    .setup-section > *:last-child {
        margin-right: 0px;
    }
}