@import './variables';


.home-container{
    .stat-section{
        display: flex;

        .card{
            text-align: center;
            justify-content: center;
            align-items: center;
        }

    }
    .stat-section > * {
        margin-right: 25px;
    }
    .stat-section > *:last-child {
        margin-right: 0px;
    }
}