@import './variables';


.main{
    padding: 20px 63px 0px 63px ;
    width: 100%;

    .title{
        font-size: 26px;
        font-weight: $font-bold;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .container{
        & > *{
            margin-bottom: 25px;
        }
    }
}