body{
    margin: 0;
    background-color: #FBFBFB;
}

.master{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100vh;

    .side-nav{
        padding: 10px;
        width: 100%;
        max-width: 270px;
        transition: 0.3s;
        
        ul {
            padding: 0;
            li{
                list-style-type: none;
            }
        }

        .nav-item{
            display: flex;
            align-items: center;
            font-size: 18px;
            .icon{
                margin-right: 20px;
            }
        }
        .nav-item.active{
            color:red;
        }
    }
    .main{
        width: 100%;
        padding: 10px;
    }

    
}